<%= render "layouts/navbar"%>

Top Contributer: <br> <%= User.top_contributer %> has contributed <%= User.top_contributer_count %> tips! 

<h1>tips for investors. by investors.</h1><br>


<% @posts.each do |post|%>
<fieldset>
  <legend><%= link_to post.title, post_path(post)%> <br></legend>
  <%= post.content[0..100]%> <%= link_to "...read more", post_path(post)%><br><br>
</fieldset>
<% end %>